header {
    padding: 10px;
    margin: auto;
    background-color: aquamarine;
    text-align: center;
}

#warning {
    color: red;
}

body {
    padding:0;
    margin:0;
    font-family:Georgia, 'Times New Roman', Times, serif    
}

div {
    margin-left: 15px;
}

input {
    margin-left: 5px;
    margin-right: 5px;
}

table {
    width: 90%;
    border-collapse: collapse;
    table-layout: fixed;
}

table, tbody, th, td {
    border: 1px solid;
}

tbody {
    border: solid;
}

th {
    text-align: center;
}

td {
    text-align: center;
}



#totalMonthly {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-right:20px;
}